	*{
		margin: 0;
		border: 0;
		padding: 0;
	}

	body{
		width: 100%;
		height: auto;
	}

	/*背景*/

	.video{
		position: fixed;
		left: 0;
		top: -10px;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: 100%;
		z-index: -9999;
		background-size: cover;
	}

	.beijing{
		background-color: #4B82D2;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -10000;
	}

/*导航栏*/
    #times{
    	float:left;
    	width: 211px;
    	height: 50px;
    	font-size: 19px;
    	color: #fff;
    	text-align: center;
    	text-shadow: 2px 1px 1px #000;
    	background-color: rgba(46,103,239,0.8);
    }

	.nav{
		width: 100%;
		height: 50px;
		background-color: rgba(255,255,255,0.5);
		border-bottom: 1px solid rgba(46,103,239,0.8);
	}

	.nav>ul>li{
		float: left;
		list-style-type: none;
		z-index: 80;
		border-radius: 30px;
	}

	.nav>ul>li>a{
		text-align: center;
		color: #132D72;
		display: block;
		width: 120px;
		font-family: 微软雅黑;
		text-decoration: none;
		font-size: 14px;
		line-height: 50px;
		padding: 0 22px;
		vertical-align: middle;
		font-weight: 800;
		border-radius: 30px;
	}

	.nav>ul>li:hover{
		background-color: #E5F0FF;
	}
/*导航栏扩展*/
	.tit{
		background-color: #E5F0FF;
		width:120px ;
		position: absolute;
		left: 0;
		top: 50px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	.tit-1{
		height: 0px;
		transition: all 1.5s ease;
		overflow: hidden;
	}

	.tit-2{
		height: 0px;
		transition: all 1.5s ease;
		overflow: hidden;
	}

	.tit-3{
		height: 0px;
		transition: all 1.5s ease;
		overflow: hidden;
	}

	.tit-4{
		height: 0px;
		transition: all 1.5s ease;
		overflow: hidden;
	}

	.nav>ul>li:hover .tit-1{
		height: 150px;
	}

	.nav>ul>li:hover .tit-2{
		height: 300px;
	}

	.nav>ul>li:hover .tit-3{
		height: 100px;
	}

	.nav>ul>li:hover .tit-4{
		height: 100px;
	}

	.list{
		list-style-type: none;
	}

	.list>a{
		text-align: center;
		color: #132D72;
		display: block;
		font-family: 微软雅黑;
		text-decoration: none;
		font-size: 14px;
		line-height: 50px;
		padding: 0 22px;
		vertical-align: middle;
		font-weight: 800;
	}

	.hou{
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	.hou>a{
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}



	.list:hover{
		background-color: rgba(46,103,239,0.8);
	}

	.list:hover a{
		color: #fff;
		font-size: 16px;
	}

	/*搜索框*/
	.input{
		border: 1px solid #0F59AD;
		background-color: #F4F4F4;
		line-height: 32px;
		height: 32px;
		width: 120px;
		position: absolute;
		left: 0;
		top: 10px;

	}

	.button{
		width: 43px;
		height: 32px;
		position: absolute;
		left: 120px;
		top: 10px;
		border: 1px solid #0F59AD;
		background-color: #0F59AD;
		color: #fff;
		font-weight: 800;
		font-size: 14px;
	}

	.button:hover{
		background-color: #052885;
		border: 1px solid #052885;
	}

	/*左侧导航*/
	.zuo{
		position: fixed;
		left: 0;
		top: 50%;
		z-index: 999;
		width: 160px;
		height: auto;
		margin-top: -164px;
		background-color: rgba(46,103,239,0.6);
		border-radius: 40px;

	}

	.list-1{
		width: 160px;
		height: 40px;
		border-bottom: 1px solid #fff;
	}

	.list-2{
		display: block;
		height: 40px;
		width: 160px;
		color: #FFF;
		line-height: 40px;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
	}

	.list-3{
		display: block;
		height: 40px;
		width: 160px;
		color: #FFF;
		line-height: 40px;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	}

	.list-4{
		display: block;
		height: 40px;
		width: 160px;
		color: #FFF;
		line-height: 40px;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}

	.list-2:hover {
		display: block;
		background-color: #fff;
		color: #959595;
		font-size: 18px;
		text-decoration: none;
	}

	.list-3:hover {
		display: block;
		background-color: #fff;
		color: #959595;
		font-size: 18px;
		text-decoration: none;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	}

	.list-4:hover {
		display: block;
		background-color: #fff;
		color: #959595;
		font-size: 18px;
		text-decoration: none;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}


	/*内容*/

	.con{
		position: fixed;
		right: 120px;
		bottom: 70px;
		width: 400px;
		height: 200px;
		text-align: center;
		z-index: -999;

	}

	.con div{
		color: #fff;
		text-shadow: 1px 1px 1px #888;
		font-family: 宋体;
		margin:20px 0;
	}

	.abc{
		width: 1002px;
		height: 200px;
	}

	#demo1{
		color: #7D7D7D;
		width: auto;
		height: 20px;
		line-height: 20px;
		margin-top: 10px;
	}

	#demo2{
		display: none;
	}

	#demo2 h1{
		color: #fff;
		text-shadow: 2px 1px 1px #000;
	}

	#demo2 div{
		text-indent: 2em;
		font-size: 18px;
		color: #fff;
		text-shadow: 2px 1px 1px #000;
	}


	/*照片墙*/

	.mn{
		position: relative;
		width: 100%;
		height: 200px;
	}

	.nn{
		position: absolute;
		top: 100px;
		left: 50%;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -400px;

	}

	.nn ul li{
		float: left;
		list-style-type: none;
		margin: 0 75px;
	}

	.nn ul li a{
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-decoration: none;
		font-size: 20px;
	}

	.nn ul li a:hover{
		color: red;
	}

	.mm{
		width: 960px;
        height: 400px;
        margin:0 auto;
        position: relative;
	}
    .mm img{
        position:absolute;
        padding: 10px 10px 15px;
        background:#fff;
        border:1px solid #ddd;
        cursor:pointer;
    }

	.mm img:nth-of-type(1){
		transform:rotate(20deg);
		z-index:1;
 		left:10%;
    	top:50px;
    }
	.mm img:nth-of-type(2){
		transform:rotate(10deg);
		z-index:2;
 		left:25%;
    	top:50px;
    }
	.mm img:nth-of-type(3){
		transform:rotate(-10deg);
		z-index:3;
 		left:45%;
 		top:60px;
 	}
	.mm img:nth-of-type(4){
		transform:rotate(5deg);
		z-index:4;
		left:60%;
	    top:70px;
	}
	.mm img:nth-of-type(5){
		transform:rotate(10deg);
		z-index:3;
 		left:80%;
		top:50px;
	}
	.mm img:nth-of-type(6){
		transform:rotate(-5deg);
		z-index:1;
		left:10%;
		top:270px;
	}
	.mm img:nth-of-type(7){
		transform:rotate(10deg);
		z-index:2;
		left:25%;
		top:330px;
	}
	.mm img:nth-of-type(8){
		transform:rotate(20deg);
		z-index:3;
		left:40%;
		top:290px;
	}
	.mm img:nth-of-type(9){
		transform:rotate(10deg);
		z-index:4;
		left:55%;
		top:370px;
	}
	.mm img:nth-of-type(10){
		transform:rotate(-10deg);
		z-index:5;
		left:70%;
		top:370px;
	}
    
   .mm img:hover{
    	transform:scale(2,2);
    	transition:all 3s;
    	box-shadow: 10px 10px 15px #034663;
    	z-index:20;
    }

    /*基本信息*/

	.h1{
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		font-size: 40px;
		font-family: 宋体;
		text-align: center;
	}

	.text{
		text-indent: 2em;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
 		font-size: 20px;
		line-height: 30px;
		font-family: 宋体;
	}


	/*第四页 剧情简介与角色介绍*/

	.h1-1{
		color: #fff;
		text-shadow: 2px 2px 2px #000;
		font-size: 45px;
		font-family: 宋体;
	}

	.h1-1-1{
		position: relative;
		top: 15px;
		left: 250px;
	}

	.h1-1-2{
		position: relative;
		top: -15px;
		left: 600px;
	}

	.p1{
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-indent: 2em;
		font-size: 	16px;
		font-family: 宋体;
	}

	.div8{
		 width: 1002px;
		 height: 360px;
		 position: relative;
	}

	.div8 a{
		position: absolute;
		display: block;
		font-size: 40px;
		font-family: 宋体;
		color: #000;
		text-shadow: 1px 1px 1px #fff;
	}

	.div8 a:nth-of-type(1){
		left: 20px;
		top: 20px;
		transform:rotate(10deg);

	}

	.div8 a:nth-of-type(2){
		left: 20px;
		top: 150px;
		transform:rotate(0);
	}

	.div8 a:nth-of-type(3){
		left: 20px;
		bottom: 20px;
		transform:rotate(-10deg);
	} 

	.div8 a:nth-of-type(4){
		right: 20px;
		top: 20px;
		transform:rotate(-10deg);
	}

	.div8 a:nth-of-type(5){
		right: 20px;
		top: 150px;
		transform:rotate(0);
	}

	.div8 a:nth-of-type(6){
		right: 20px;
		bottom: 20px;
		transform:rotate(10deg);
	}

	.div8 a:hover{
		display: block;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-decoration: none;
	}

	span {
		display: block;
		text-shadow: 
		0 0 10px var(--color1),
		0 0 20px var(--color2),
		0 0 40px var(--color3),
		0 0 80px var(--color4);
		will-change: filter, color;
		filter: saturate(60%);
		animation: flicker steps(100)  1s infinite;
	}
	 
	span:nth-of-type(1) {
		color: yellow;
		--color1: goldenrod;
		--color2: orangered;
		--color3: mediumblue;
		--color4: purple;
		font-family: Gruppo;
	}

	@keyframes flicker {
		50% {
			color: white;
			filter: saturate(200%) hue-rotate(20deg);
		}
	}

	/*第五页 动画制作*/

	.text2{
		font-size: 22px;
		text-shadow: 2px 2px 2px #000;
		font-family: 宋体;
		text-decoration: none;
	}

	.a1{
		display: block;
		color: #F7CE71;
		text-shadow: none;
		font-weight: 800;
	}

	.a1:hover{
		color: #959595;
		text-decoration: none;
	}

	

    /*第六页 关联作品*/
    .aa{
		width: 960px;
        height: 400px;
        margin:0 auto;
        position: relative;
    }

    .aa>div{
		position:absolute;
		padding: 10px 10px 15px;
		cursor:pointer;
	}

	.aa>div:nth-of-type(1){
		z-index:2;
 		left:20%;
    	top:60px;
    }
	.aa>div:nth-of-type(2){
		border-radius: 20px;
		background-color: rgba(140,205,239,0.6);
		transform:rotate(-10deg);
		border:1px solid #ddd;
		z-index:1;
 		left:45%;
    	top:50px;
    }

    .aa>div:nth-of-type(2):hover {
    	transform:scale(2,2);
    	transition:all 3s;
    	box-shadow: 10px 10px 15px #034663;
    	z-index:20;
    }

    /*3D翻书效果*/

	.perspective {
	    perspective: 800px;
	    transform-style: preserve-3d;
	}

	.book-wrap {
	    width: 200px;
	    height: 300px;
	    position: relative;
	    margin: 0 auto;
	    transform: rotateX(30deg);
	    transform-style: preserve-3d;
	}

	.page {
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	    position: absolute;
	    left: 0;
	    top: 0;
	    transform-origin: left;
	    border: 1px solid #1976D2;
	}


	.book-content {
	    background-color: #fff;
	    color: #33363C;
	}
	.book-cover {
	    animation: roll 6s ease 0s 2 alternate;
	}
	.book-content1{
	    animation: roll 3s ease 3s 2 alternate;
	}
	.book-content2 {
	    animation: roll 4s ease 2s 2 alternate;
	}
	.book-content3 {
	    animation: roll 5s ease 1s 2 alternate;
	}

	@keyframes roll {
		from {transform: rotateY(0);}
		to {transform: rotateY(-180deg);}
	}


	 .bb{
		color: #EEB674;
		text-align: center;
		text-shadow: 1px 1px 1px #000;
		font-size: 30px;
		font-family: 宋体;
	}

    /*第七页 新海诚*/

    .div1{
    	float: left;
    	position: relative;
    	z-index: 1;
    	border-radius: 40px;
    }

    .div1>a{
    	border-radius: 40px;
    }

    .div1>a>img{
    	border-radius: 40px;
    }

    .div2{
    	display: none;
    	border-radius: 40px;
    	position: absolute;
    	left: 0;
    	top: 0;
    	z-index: 2;
    	width: 268px;
    	height: 403px;
    	background-color: rgba(57,86,185,0.6);
    	color: #FFFF00;
    	text-shadow: 1px 1px 1px #000;
    	text-align: center;
    	font-family: 宋体;
    	font-weight: 800;
    	font-size: 25px;
    	padding: 100px 10px;
    	text-indent: 2em;
    }

    .div1:hover .div2{
    	display: block;
    	border-radius: 40px;
    }

    .div3{
    	text-indent: 2em;
    	color: #fff;
    	text-shadow: 1px 1px 1px #000;
    	font-size: 18px;
    	cursor: wait;
    }

    .div4{
    	width: 100%;
    	height: 235px;
    	background: linear-gradient(rgba(148,177,188,0.6), rgba(46,103,239,0.8));
    }

    .div5{
    	width: 1002px;
    	height: 235px;
		margin:0 auto;
    }

    .div6{
    	color: #fff;
    	width: 40px;
    	height: 235px;
    	text-shadow: 2px 2px 2px #000;
    	font-family: 宋体;
    	font-size: 30px;
    	padding: 20px 0;
    	float: left;
    }

    .div7{
		float: left;
		height: 235px;
		width: 962px;
		padding: 70px;
    }

    .a2{
    	display: block;
    	color: #959595;
    	text-shadow: 1px 1px 1px #000;
    	font-size: 22px;
    }

    .a2:hover{
    	color: #959595;
    	text-decoration: none;
    }

